.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 5px 10px;
    /* height: 100vh; */
    /* flex justify-evenly items-center md:mx-10 */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
    background-color: #ffffff49;
    border-radius: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    max-width: 380px;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
   

}

.img {
    width: 100%;
    margin-bottom: 20px;
}

.img img {
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

.card-desc {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin: 0px 25px;
}

.card:hover {
    background-color: #ffffff;
}